*{
    padding: 0px;
    margin: 0px;
}
#container{
    background-image: url("https://images2.pixlis.com/background-image-plaid-checkered-seamless-tileable-235h5q.png");
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #EEEEEE;
}
#cookies{
    border-bottom: black solid 1px;
    text-align: center;
    background-color: white;
}
#title{
    font-size: 60px;
}
#connect_panel{
    color: red;
    font-family: "Impact";
    box-shadow: 0px 0px 100px black;
    padding: 20px;
    border: black solid 1px;
    position: relative;
    top: 35%;
    text-align: center;
    margin: auto;
    background-color: white;
    width: 300px;
    min-height: 200px;
}
.button{
    margin: 5px;
}
a{
    font-family: "Times New Roman";
}